.ant-timeline.ant-timeline-label .ant-timeline-item-label {
  display: flex;
  width: calc(20% - 12px);
}

.ant-timeline-item-tail {
  background: #fff;
}

.ant-timeline.ant-timeline-label .ant-timeline-item-tail,
.ant-timeline.ant-timeline-label .ant-timeline-item-head {
  inset-inline-start: calc(4% - -15%);
}

.ant-timeline-item-head.ant-timeline-item-head-blue {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
  box-shadow: 0 7px 30px 0 #13adc74d;
}

.ant-timeline.ant-timeline-label .ant-timeline-item-left .ant-timeline-item-content {
  inset-inline-start: calc(20% - 4px);
  margin-inline-start: 50px;
  width: calc(70% - 12px);
}

@media (min-width: 992px) {
  .ant-timeline-item-label {
    font-size: 1.5rem;
  }

  .ant-timeline-item-content {
    font-size: 1.125rem;
  }
}
