.navbar-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: auto;
  padding: 30px;
}

.project::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  border: 2px solid transparent;
  gap: 25px;
  background: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
  /* stylelint-disable */
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  /* stylelint-enable */
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}

.project-description {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 21px;
  color: #929eb0;
}

.project-links {
  display: flex;
  gap: 5px;
}

.live-btn {
  width: 60%;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  box-shadow: 0 7.266289234161377px 21.79886817932129px 0 #00b2ff59;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btns:active {
  background: linear-gradient(270deg, #008FA9 0%, #4B5AB3 66.67%, #6C35AE 100%);
  box-shadow: 0px 10px 30px 0px #935ED659;
  animation-delay: 1ms;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.btns:hover {
  background: linear-gradient(270deg, #31CBE5 0%, #8796EF 66.67%, #B27BF4 100%);
  box-shadow: 0px 10px 30px 0px #00B2FF80;
  animation-timing-function: ease-out;
  animation-duration: 1ms;
}

.github-btn {
  width: 40%;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid #fff;
  background:
    linear-gradient(0deg, #0f1624, #0f1624),
    linear-gradient(0deg, #fff, #fff);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
}

.github-btn:active {
  background: #fff;
  border: 1.2px solid #fff;
  animation-delay: 1ms;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.github-btn:hover {
  background:
    linear-gradient(0deg, #0F1624, #0F1624),
    linear-gradient(0deg, #fff, #fff);
  border: 2.4px solid #fff;
  animation-duration: 0ms;
}
