#root {
  width: 100%;
  min-height: 100vh;
  padding: 2.5rem 1.25rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #root {
    padding: 2.5rem calc(1.25rem + ((100vw - 768px) / 4));
  }
}
