@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

body {
  background-color: #0f1624;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 1rem;
  gap: 2rem;
}

h1 {
  font-size: 1.5rem;
  background:
    linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%),
    linear-gradient(0deg, #fff, #fff);
  /* stylelint-disable */
  -webkit-background-clip: text;
  background-clip: text;
  /* stylelint-enable */
  color: transparent;
}

.text-contact-me {
  text-align: center;
  align-self: center;
  width: 90%;
}
